:root {
  --players: 3;
  --cards: 5;

  --columns: var(--players);
  --rows: calc(var(--cards) * 2 + 1);
}
input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  min-width: 0;
  text-align: center;
  padding: 0;
  margin: 0;
}
.App {
  height: 100vh;
}
.score-board {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-auto-flow: column;
  height: 100%;
}

.round {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.score {
  font-size: 2em;
}

.prediction {
  vertical-align: top;
  background: lightblue;
  border-radius: 5px 0 0 5px;
}
.tricks {
  vertical-align: bottom;
  background: lightgreen;
  border-radius: 0 5px 5px 0;
}
